@charset "utf-8";

.access {
    display: flex;
    justify-content: space-between;
}

.accessImg p {
    margin: 0 10%;
} 

.accessInfo {
    line-height: 1.5;
}

dl dt {
    font-weight: bolder;
}

dl dd {
    margin: 2em 0;
}

.accessInfo ul li {
    font-size: 0.9375rem;
    margin: 2% 0;
}

@media screen and (max-width:767px) {
    .access { 
        display: initial;
    }
    
    dl dt {
        text-align: center;
        margin: 2em 0;

    }
}